<!DOCTYPE html>
<html lang="en">
    <style>
        body {
            background-color: black;
            background-repeat: no-repeat; 
            background-size: cover;
        }
        div {
            color: white;
            font-size:15pt;
        }
       
    </style>
    
    <li><a href="{{ url_for("home") }}">Home</a></li>
    <head></head>
   
    <body class="{{template}}">
        <div class="formwrapper" >
            <h2 class="title" style="color: white;">Build your PlanIt: </h2>
            
            <form method="POST">                
                <p class="form-field"><b style="color:red">*</b>{{ form_gov.state.label }}{{ form_gov.state }}</p>
                <p class="form-field"><b style="color:red">*</b>{{ form_gov.location.label }}{{ form_gov.location }}</p>
                <p class="form-field"><b style="color:red">*</b>{{ form_gov.land_ava.label }}{{ form_gov.land_ava }}</p>
                <p class="form-field">{{ form_gov.goal_renewable.label }}{{ form_gov.goal_renewable }}</p>
                <p class="form-field"><b style="color:red">*</b>{{ form_gov.api_key.label }}{{ form_gov.api_key }}</p>
                {{ form_gov.submit() }}
            </form>
        </div>
        <p style="color: white"><i>NOTE:</i> Fields with a <b style="color:red">*</b> must be completed</p>

        
    </body>
    {% for message in get_flashed_messages() %}
    <p style="color: red;">{{ message }}</p>
    {% endfor %}
</html>


