<!DOCTYPE html>
<html lang="en">
    <style>
        body {
            background-image: url(static/visualization.png);
            background-repeat: no-repeat; 
            background-size: cover;
        }
    </style>
    <li><a href="{{ url_for("home") }}">Home</a></li>
    <head></head>
    <body>
        <div class="formwrapper" >
            <h2 class="title" style="color: white;">Build your PlanIt: </h2>
            <form method="POST">
                <div class="form-field" style="color: white;">{{ form.user_type.label }}{{ form.user_type }}</div>
                <div >{{form.submit}}</div>
                
            </form>
        </div>
       
    </body>
</html>


