<!DOCTYPE html>
<html lang="en">
    <li><a href="{{ url_for("home") }}">Home</a></li>
    <head></head>
    <body class="{{template}}" style="background-color: black;">
        <div class="formwrapper" >
            <h2 class="title" style="color: honeydew;">Build your PlanIt: </h2>
            <form method="POST" style="background-color: black;">
                <div class="form-field" style="color: ivory;">{{ form.user_type.label }}{{ form.user_type }}</div>
                {{form.submit}}
            </form>
        </div>
       <img align="right" src="static/Picture1.jpg"/>
    </body>
</html>


